@model IEnumerable<DAL.Models.GoodReview>
@{
    ViewBag.Title = "Review list";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<table class="table table-hover" style="margin-top: 5%;">
    <tr>
        <th>Id</th>
        <th>User name</th>
        <th>Good name</th>
        <th>Date</th>
        <th>Message</th>
        <th>Mark</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var review in Model)
    {
        <tr>
            <td>@review.Id</td>
            <td>@string.Join(" ", review.Customer.FirstName, review.Customer.SecondName)</td>
            <td><a asp-action="ShowGood" asp-controller="GoodPage" asp-route-goodId="@review.Good.Id">@review.Good.Name</a></td>
            <td>@review.Date</td>
            <td>@review.Message</td>
            <td>@review.StarCount / 5</td>
            <td>
                <form asp-action="Confirm" asp-route-id="@review.Id" method="post">
                    <input type="submit" class="btn btn-sm btn-success" value="Confirm">
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@review.Id" method="post">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                </form>
            </td>
        </tr>
    }
</table>

