@model IEnumerable<DAL.Models.OrderPart>
@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<link rel="stylesheet" href="~/css/mainPage.css" />
<link rel="stylesheet" href="~/css/Cart.css" />
<script src="~/js/ShowCart.js"></script>

@if (Model.Count() == 0 || Model == null)
{
    <div class="cart-goods">
        <div class="row text-center">
            <div class="col">
                <h3>Кошик порожній</h3>
            </div>
            
        </div>
    </div>
}
else
{
    <div class="row text-center">
        <div class="col">
            <h3>Твій кошик</h3>
        </div>
    </div>
    <form asp-action="ConfirmGoods" asp-controller="Cart">
        <div class=" cart-goods">
            @foreach (var part in Model)
            {
                <div class="row cart-item text-center">
                    <div class="col-lg-4 col-12">
                        <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@part.Good.Id">
                            <div class="cart-good-image mx-auto"><img src="@part.Good.PhotoUrl" /></div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-12">
                        <p>Назва : <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@part.Good.Id">@part.Good.Name</a></p>
                        <p>Ціна : @part.Good.Price</p>
                    </div>
                    <div class="col-lg-2 col-12">
                        <a class="btn btn-sm btn-warning" onclick="CountDecrease(@part.Good.Id, @part.Good.Price)">-</a>
                        <input name="goodCount" type="text" style="width: 25%;" id=@string.Join("", "goodCount", @part.Good.Id)
                               value="@part.Count" class="text-center transparent-input" readonly />
                        <a class="btn btn-sm btn-warning" onclick="CountIncrease(@part.Good.Id, @part.Good.Price)">+</a>
                    </div>
                    <div class="col-lg-2 col-12">
                        <a class="btn btn-sm btn-danger" method="post" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@part.Good.Id">
                            Видалити
                        </a>
                    </div>

                </div>
                <hr class="black-hr" />
            }
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h4>Common price : <input class="transparent-input" id="commonPrice" name="commonPrice" value="@ViewBag.CommonPrice" style="width: 40%;" readonly></h4>
            </div>
            <div class="col-lg-2">
                <h4>Count : <input class="transparent-input" id="goodCommonCount" name="goodCommonCount" value="@Model.Count()" style="width: 25%;" readonly></h4>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn btn-success center-button" value="Підтвердити">
        </div>
    </form>
}
