@model IEnumerable<DAL.Models.Order>
@{
    ViewBag.Title = "Find result";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<div class="input-group">
    <h2 class="">Founded @Model.Count() records : </h2>
    <span class="input-group-btn">
        <a class="btn btn-sm btn-primary" asp-action="Index" style="float: right;">Back to Orders</a>
    </span>
</div>

<table class="table table-hover">
    <tr>
        <th>Number of order</th>
        <th>Date of order</th>
        <th>Goods</th>
        <th>Customer</th>
        <th>City</th>
        <th>Street</th>
        <th>Status</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.OrderDate</td>
            <td><a asp-action="ShowCustomer" asp-route-id="@order.Id">Customer</a></td>
            <td><a asp-action="ShowGoods" asp-route-id="@order.Id">Goods</a></td>
            <td>@order.EndPointCity</td>
            <td>@order.EndPointStreet</td>
            <td>@order.OrderStatus</td>
            <td>@order.CommonPrice</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@order.Id">Edit</a>
                <a class="btn btn-sm btn-warning" asp-action="ChangeStatus" asp-route-id="@order.Id">Change status</a>
            </td>
        </tr>
    }
</table>