@model IEnumerable<DAL.Models.Order>
@{
    ViewBag.Title = "Manager panel";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<a class="btn btn-sm btn-primary" style="margin: 2% 0%;" asp-action="Find">Знайти замовлення</a>

<table class="table table-hover">
    <tr>
        <th>Номер замовлення</th>
        <th>Дата замовлення</th>
        <th>Клієнт</th>
        <th>Товари</th>
        <th>Місто</th>
        <th>Вулиця</th>
        <th>Статус</th>
        <th>Ціна</th>
        <th></th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.OrderDate</td>
            <td><a asp-action="ShowCustomer" asp-route-id="@order.Id">Клієнт</a></td>
            <td><a asp-action="ShowGoods" asp-route-id="@order.Id">Товари</a></td>
            <td>@order.EndPointCity</td>
            <td>@order.EndPointStreet</td>
            <td>@order.OrderStatus</td>
            <td>@order.CommonPrice</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@order.Id">Редагувати</a>
                <a class="btn btn-sm btn-warning" asp-action="ChangeStatus" asp-route-id="@order.Id">Змінити статус</a>
            </td>
        </tr>
    }
</table>

